.backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chatbox {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px;
}

.board-container {
  width: 100%;
  max-width: 80%;
  left:30px;
  top:100px;
  position: fixed;
  background-color: transparent;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-4 {
  width: calc(33.33% - 30px);
  padding: 0 15px;
}

.col-6 {
  width: calc(50% - 30px);
  padding: 0 15px;
}

.info-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: black;
  z-index: 999;
}